{% extends "wymiana/base.html" %}
{% block body_block %}
    <div class="container jumbotron jumbotron-fluid mt-4">
        <div class="row">
            <div class="col-2">
                <div class="nav flex-column nav-pills border-right p-3" id="v-pills-tab" role="tablist"
                     aria-orientation="vertical">
                    <a class="nav-link btn-warning btn mb-3" id="v-pills-home-tab" data-toggle="pill"
                       href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Profil</a>
                    {% if profil.user == request.user %}
                        <a class="nav-link btn-warning btn" id="v-pills-profile-tab" data-toggle="pill"
                           href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
                           aria-selected="false">Edytuj</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                         aria-labelledby="v-pills-home-tab">
                        <div class="row">
                            <div class="col-4">
                                <img class="rounded-circle account-img" src="{{ profil.zdjecie.url }}"
                                     style="max-width: 250px;">
                            </div>
                            <div class="col-6">
                                <h2> {{ profil.imie|default_if_none:user.username }} {{ profil.nazwisko }}</h2>
                                <h6 class="text-muted">{{ user.username }}</h6>
                                <hr>
                                <br>
                                <p>Email: {{ user.email }}</p>
                                <p>Klasa: {{ user.profil.klasa }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                         aria-labelledby="v-pills-profile-tab">
                        <div class="p-4 col-8 text-center mx-auto">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ formularz_profilu.as_p }}
                                <button class="btn btn-warning btn-lg" type="submit">zapisz</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}